<!doctype html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Login Page</title>
</head>
<body>
<form action="#" th:action="@{/loginProc}" method="post" role="form" autocomplete="off">
    <h2>Login</h2>
    <ul>
        <li>
            Login ID :<input type="text" name="loginId" placeholder="login id"/>
        </li>
        <li>
            Password : <input type="password" name="password" placeholder="password"/>
        </li>
    </ul>
    <button type="submit">Login</button>
</form>

<h3>Sign Up <a th:href="@{/signUp}">here</a></h3>
<!--<form action="#" th:action="@{/signUp}" method="post" role="form" autocomplete="off" th:object="${signUpForm}">-->
<!--    <h2>Sign Up</h2>-->
<!--    <ul>-->
<!--        <li>-->
<!--            Your ID : <input type="text" name="loginId" th:field="*{loginId}" placeholder="login id"/>-->
<!--        </li>-->
<!--        <li>-->
<!--            Password : <input type="password" name="password" th:field="*{password}" placeholder="password"/>-->
<!--        </li>-->
<!--        <li>-->
<!--            Again Password : <input type="password" name="againPassword" th:field="*{againPassword}" placeholder="password again"/>-->
<!--        </li>-->
<!--    </ul>-->
<!--    <button type="submit">Login</button>-->
<!--</form>-->
</body>
</html>